body {
  margin: 0;
  padding: 0;
  background: url(BG.avif);
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.box {
  width: 400px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(255, 255, 255, 0.04);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur (7 px);
  -webkit-backdrop-filter: blur (7 px);
  border-radius: 10px;
  border: 0.5px solid black;
}
.body h1 {
  color: black;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
  height: 40px;
  color: #fff;
  background: none;
  display: block;
  font-size: 17px;
  margin: 20px auto;
  text-align: center;
  border: 3px solid darkslategray;
  width: 200px;
  outline: none;
  border-radius: 5px;
  transition: 0.25s;
}

.box input[type="time"] {
  height: 25px;
  background: none;
  color: #fff;
  display: block;
  font-size: 15px;
  margin: 10px auto;
}

.box input[type="submit"] {
  height: 50px;
  border: 0;
  background: none;
  display: block;
  font-size: 18px;
  margin: 20px auto;
  text-align: center;
  border: 3px solid darkslategray;
  padding: 14px 40px;
  outline: none;
  color: rgba(31, 38, 135, 0.37);
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.box input[type="submit"]:hover {
  background: #eddff3;
}
.box input[type="text"]:hover {
  background: #eddff3;
}
.box input[type="password"]:hover {
  background: #eddff3;
}
.box input[type="email"]:hover {
  background: #eddff3;
}
.box input[type="time"]:hover {
  background: #eddff3;
}
